body {
    font-weight: 400!important;
    height: 100%;
}

.navbar {
    font-weight: 400!important;
}

.chart-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.badge {
    position: absolute;
    bottom: 0;
}

.logo-img {
    width: 100%;
    height: auto;
    max-width: 163px;
    max-height: 80px;
}

.dark-footer {
    background: #282828;
    color: #aeaeae;
}

.main-image {
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: cover;
    height: 845px;
}


@media (max-width: 576px) {
    .main-image {
        background-image: url('/img/background.jpg');
        background-repeat: no-repeat;
        background-position: 80% 0;
        background-size: 270%;
        height: 540px;
    }
}

